# Assignment 3 (60 points - Due on Monday October 11th by 7:00 pm ET)

**You are free to use any IDE you like.**
The output of this assignment for submission should be in PDF format **AND** .py or .ipynb. The name of the file should be as follows: Lastname_Firstname_Assignment3.pdf (example: Thomas_Sunela_Assignment3.pdf) ****AND**** Lastname_Firstname_Assignment3.ipynb (example: Thomas_Sunela_Assignment3.ipynb. In short, you are submitting the python notebook as well as the pdf of that notebook.

Incorrect file name will cost you points! Do NOT submit HTML code file.
Instructions for converting a Jupyter Python notebook to PDF: Go to the menu and choose, File --> Download As --> html

Open that html file and print it to PDF.

**Things to note:**
* Output should be displayed for each question in a sentence format

## Use the tips.csv file to answer the following questions. Each question answer should be displayed. The meaning of the variables are described below.
* total_bill = Total bill (cost of meal), including tax, in US dollars
* tip = Tip (gratuity) in US dollars
* sex = 0 (male) and 1 (female)
* smoker = 0 (NO), 1 (YES)
* day = Day of the Week (4 = Thurs, 5= Fri, 6 = Sat, 7 = Sun)
* time = Dinner, Lunch
* size = size of the party

<h3> You may need to recode some variables like sex, day of the week, etc. so that the results are meaningful.  Provide the results in the form of a sentence instead of just a value.

<u>Note</u>: Creating lists to store day, time and smoke values

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('tips.csv')
list1=['male','female']
list2=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
list3=['non-smoker','smoker']

<h3> 1. What is total number of orders where the `total_bill` is greater than $40 and the party size was 4 or less?

In [2]:
# Answer
filt1 = df['total_bill'] > 40
filt2 = df['size'] <=4
count = len(df[filt1 & filt2])
print("There were",count,"orders with total bill greater than $40 where party size was 4 or less")

There were 8 orders with total bill greater than $40 where party size was 4 or less

<h3> 2. Who pays the bill more often: men or women?

In [3]:
# Answer
count1 = len(df[df['sex'] == 0])
count2 = len(df[df['sex'] == 1])
if(count1<count2):
    print("Highest number of bills are paid by Women")
elif(count1>count2):
    print("Highest number of bills are paid by Men")
else:
    print("Both Men and Women pay bills same number of times")

Highest number of bills are paid by Women

<h3> 3. What day-time combination has the highest average bill? What has the lowest average bill?

In [4]:
# Answer
df1 = df.groupby(['day','time'])['total_bill'].mean().sort_values().reset_index()
ld = list2[df1.iloc[0]['day']-1]
lt = df1.iloc[0]['time']
df2 = df.groupby(['day','time'])['total_bill'].mean().sort_values(ascending = False).reset_index()
hd = list2[df2.iloc[0]['day']-1]
ht = df2.iloc[0]['time']
print("Lowest average bill is at",lt,"on",ld)
print("Highest average bill is at",ht,"on",hd)

Lowest average bill is at Lunch on friday
Highest average bill is at Dinner on sunday

<h3> 4. On which day of the week does the waiter serve the largest parties on average?

In [8]:
# Answer
value = df['size'].max()
df2 = df[df['size'] == value]
answer = df2.groupby(['day'])['total_bill'].count().sort_values(ascending = False).reset_index()
answer=answer.iloc[0]['day']
print("Waiter serves the largest parties on average on", list2[answer-1])

Waiter serves the largest parties on average on thursday

<h3> 5. Calculate the average total bill by day, time, and party size. Display the results in a pivot table.

In [6]:
# Answer
df.groupby(['day','time','size']).agg({'total_bill' : 'mean'})

                 total_bill
day time   size
4   Dinner 2      18.780000
    Lunch  1      10.070000
           2      15.079787
           3      19.160000
           4      29.950000
           5      41.190000
           6      30.383333
5   Dinner 2      17.799091
           4      40.170000
    Lunch  1       8.580000
           2      13.072000
           3      15.980000
6   Dinner 1       5.160000
           2      16.837170
           3      25.509444
           4      29.876154
           5      28.150000
7   Dinner 2      17.560000
           3      22.184000
           4      26.688333
           5      27.000000
           6      48.170000

<h3> 6. What is the lowest tip_rate? Was it paid by a male or female? Was it a smoker or non-smoker?

In [7]:
# Answer
df['tip_rate']=df['tip']/df['total_bill']
df2 = df.sort_values('tip_rate').iloc[0]

ltp = df2['tip_rate'].round(2)
g = list1[df2['sex']]
s = list3[df2['smoker']]

print("A",g,s,"paid a lowest tip rate of $",ltp)

A female smoker paid a lowest tip rate of $ 0.04